.landingPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

.sp1 {
  color: blue;
}

.content .text {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.content h1 {
  font-size: 7rem;
  font-weight: 500;
  margin-top: 1.5rem;
  line-height: 1;
}

.Banner {
  border-radius: 50%;
  flex-shrink: 0;
  border-radius: 50%;
}

.Banner img {
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.5);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.Banner img:hover {
  box-shadow: 0 0 25px blue;
}

.content p {
  font-size: 1.5rem;
  font-family: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.socialIcons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px   
 solid white;
  font-size: 2.5rem;
  border-radius: 50%;
  color: white;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.text {
  font-size: 34px;
  font-weight: 600px;
  min-width: 280px;
}

.text span {
    display: inline-block;
    position: relative;
    /* white-space: nowrap; */
    overflow: hidden;
    border-right: 3px solid #fff; /* Cursor effect */
    animation: typing 4s steps(20) 1s 1 normal both, blink 0.7s infinite;
  }

.text span::before {
  content: "Web Developer";
  color: #fff;
  animation: words 20s infinite;
}
.text span::after{
  content: "";  
  background-color: #fff;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px spolid black;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid black ;
  }
  
}

@keyframes words {
  0%, 20% {
    content: "Frontend Developer";
  }
  21%, 40% {
    content: "Backend Developer";
  }
  41%, 60% {
    content: "Software Developer";
  }
  61%, 80% {
    content: "Full Stack Developer";
  }
  81%, 100% {
    content: "Web Developer";
  }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}